@import url(../../node_modules/@fortawesome/fontawesome-free/css/all.min.css);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: white;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: 3.2rem;
    animation-name: moveInLeft;
    animation-duration: 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    margin-bottom: 6rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  letter-spacing: .2rem;
  animation: all .2s;
  color: transparent; }
  .heading-secondary:hover {
    transform: skew(2deg) skew(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-mb-1 {
  margin-bottom: 1rem; }

.u-mb-2 {
  margin-bottom: 2rem; }

.u-mb-4 {
  margin-bottom: 4rem; }

.u-mb-8 {
  margin-bottom: 8rem; }

.u-mt-8 {
  margin-top: 8rem; }

.btn, .btn:link, .btn:visited {
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  cursor: pointer;
  border: none;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #FFF;
  color: #777; }
  .btn--white::after {
    background-color: #FFF; }

.btn--primary {
  background-color: #55c57a;
  color: #FFF; }
  .btn--primary::after {
    background-color: #55c57a; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  color: #55c57a;
  padding: .3rem;
  border-bottom: 0.1rem solid #55c57a;
  display: inline-block;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  color: #FFF;
  background-color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    outline-offset: 1em;
    position: absolute;
    z-index: 10;
    transition: all .5s; }
    .composition__photo--item-1 {
      top: -2rem;
      left: 0; }
    .composition__photo--item-2 {
      top: 2rem;
      right: 0; }
    .composition__photo--item-3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      transform: scale(1.1) translateY(-0.5rem);
      outline: 1.5rem solid #55c57a;
      box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.section-features .row .col:nth-child(-n+2) .feature-box:hover .feature-box__icon {
  transform: rotate(120deg); }

.section-features .feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .3s;
  height: 33rem;
  overflow: hidden;
  text-overflow: ellipsis; }
  .section-features .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
    .section-features .feature-box:hover .feature-box__icon {
      color: transparent;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      background-clip: text; }
  .section-features .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    transition: all .5s; }
  .section-features .feature-box__text {
    color: #9d9d9d; }

.card {
  perspective: 150rem;
  position: relative;
  height: 53rem; }
  .card__side {
    height: 53rem;
    width: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #FFF; }
    .card__side--back {
      color: white;
      transform: rotateY(180deg); }
      .card__side--back-item-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-item-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-item-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--item-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--item-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--item-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 500;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 65%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone; }
    .card__heading-span--item-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--item-2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--item-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 2rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        padding: 1rem;
        font-size: 1.6rem;
        text-align: center; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.2rem solid #F7F7F7; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: max-content; }
  .card__price-box {
    text-align: center; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6.4rem;
    font-weight: 100;
    margin-bottom: 8rem; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  position: relative;
  z-index: 10; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(0.3rem) brightness(80%); }

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  z-index: -1;
  opacity: .15; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.6rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.5rem 2rem;
  border-radius: .2rem;
  font-family: inherit;
  display: block;
  border-bottom: .3rem solid transparent;
  width: 100%;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    border-bottom: 0.3rem solid #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form__input:focus:invalid {
    border-bottom: 0.3rem solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 45%;
  display: inline-block; }

.form__radio-label {
  font-size: 1.6rem;
  position: relative;
  padding-left: 4rem; }

.form__radio-button {
  width: 3rem;
  height: 3rem;
  border: 0.4rem solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.5rem;
  left: -.1rem;
  cursor: pointer; }
  .form__radio-button::after {
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: all .2s; }

.form__radio-input {
  display: none; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col {
    float: left; }
    .row .col:not(:last-child) {
      margin-right: 6rem; }
    .row .col-1-of-2 {
      width: calc((100% - 6rem) / 2); }
    .row .col-1-of-3 {
      width: calc((100% - 2 * 6rem) / 3); }
    .row .col-1-of-4 {
      width: calc((100% - 3 * 6rem) / 4); }
    .row .col-2-of-3 {
      width: calc((200% - 6rem) / 3); }
    .row .col-2-of-4 {
      width: calc((200% - 2 * 6rem) / 4); }
    .row .col-3-of-4 {
      width: calc((300% - 6rem) / 4); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    width: 8rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #F7F7F7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  transform: skewY(-7deg);
  margin-top: -12rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 25rem 0 15rem 0;
  background-color: #F7F7F7;
  margin-top: -12rem; }

.section-stories {
  position: relative;
  padding: 25rem 0; }

.section-book {
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .book__form {
    width: 50%;
    padding: 6rem; }
